* {
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body{
   background-color: #4d79ff;
   padding: 0;
   margin: 0;
   text-align: center;
}


@media screen and (max-width: 600px){
    ul > li > a{float: none;}
    body {
      background-color: #4d79ff;
      margin:0;
   }

 .footer{
position: relative;
}
}

footer {
   background-color: #333;
   color: #e6e6e6;
   text-align: center;
   line-height: 3em;
   bottom:0;
   width:100%;
      position:absolute;
}



/*Navigation*/

nav > ul {
   list-style-type: none;
   padding:0;
   margin:0;
   overflow: hidden;
   background-color: #333;
   top: 0;
   width: 100%;
}

ul > li > a{
   float: left;
   display: block;
   color: #e6e6e6;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

ul > li > a:hover:not(.active) {
   background-color:#1a1aff;
   opacity: 0.6;
}

.active {
   background-color: #4747d1;
}

.button {

    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.button1 {
    background-color: #202060;
    color: white;
}

.button1:hover {
    background-color: #4747d1;
    color: white;
}

h1{
   padding:10px;
   text-align:center;
   color:#e6e6e6;
}

h2{
   text-align:center;
   color:#e6e6e6;
}

h3{
   text-align:center;
   color:#e6e6e6;
}

h4{
   text-align:center;
   color:#e6e6e6;
}
p{
  text-align:left;
}


.top{
	text-align:center;
	padding:0;
	margin:0 auto;
	overflow: hidden;
	background-color: #333;
	top: 0;
	height: auto;
	width: 100%;
}


#logo{
	width: 128px;
	height: 128px;
}

.container{
	text-align:center;
}

.test{
	width:70%;
    margin:auto;
    background-color: black;
    border:4px solid #4747d1;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}



/*Quiz*/
#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

#container_quiz {
    width:70%;
    margin:auto;
    background-color: black;
    border:4px solid #2929a3;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#prev {
    display:none;
    text-align:left;
}

#start {
    display:none;
    width: 90px;
}
