* {
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

@media screen and (max-width: 600px){
    ul > li > a{float: none;}
    body {
      background-color: black;
      margin:0;
   }
 .forcefooter{
position: relative;
}
}

footer {
   background-color: #333;
   color: #e6e6e6;
   text-align: center;
   line-height: 3em;
}

.forcefooter {
   position:absolute;
   bottom:0;
   width:100%;
   background-color: #333;
   color: #e6e6e6;
   text-align: center;
   line-height: 3em;
}


/*Navigation*/

nav > ul {
   list-style-type: none;
   padding:0;
   margin:0;
   overflow: hidden;
   background-color: #333;
   top: 0;
   width: 100%;
}

ul > li > a{
   float: left;
   display: block;
   color: #e6e6e6;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

ul > li > a:hover:not(.active) {
   background-color:darkgreen;
   opacity: 0.6;
}

.active {
   background-color: darkgreen;
}

h1{
   padding:10px;
   text-align:center;
   color:#e6e6e6;
}

h2{
   text-align:center;
   color:#e6e6e6;
}

h3{
   text-align:center;
   color:#e6e6e6;
}

h4{
   text-align:center;
   color:#e6e6e6;
}

body{
	margin:0;
	background-image: url("images/bg2.jpg");
background-repeat: norepeat;
}


.top{
	text-align:center;
	padding:0;
	margin:0 auto;
	overflow: hidden;
	background-color: #333;
	top: 0;
	height: auto;
	width: 100%;
}


#logo{ 
	width: 128px;
	height: 128px;
}

.container{
	text-align:center;
}

.test{
	width:70%;
    margin:auto;
    background-color: black;
    border:4px solid white;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}


.container{
	text-align:center;
}

